---
---

@import "{{ site.theme }}";

header { padding: 10px 0; margin: 0 0 10px 0; }

li { padding-bottom: 20px; }

table td + td { border-left:2px solid #b5e853; }

body {
  font-size: 24px;
}

.failure_image {
  margin: 0 auto;
  display: block;
  width: 60%;
}

.full-image {
  margin: 0 auto;
  display: block;
  width: 100%;
}

//h1 {
//  color: #ffcc00;
//  text-shadow: 2px 2px #777;
//  text-align: center;
//  font-size: 2.8em;
//}
//
//h2 { /* ... */ }
//
//li { /* ... */ }
//
///* etc... */
//